<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Sleevy</title>
</head>

<body>
    <div class="title">
        Sleevy
    </div>
    <div class="container custom-button-container">
        <button class="custom-button" onclick="window.location.href ='/login';">
            <div class="inner"></div>
            <span>Se Connecter</span>
        </button>
        <button class="custom-button" onclick="window.location.href ='/register';">
            <div class="inner"></div>
            <span>S'enregistrer</span>
        </button>
    </div>
</body>

</html>