<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/players.css') }}">
    <meta charset="UTF-8">
    <title>Sleevy</title>
</head>
    <div class="title">
        Sleevy
    </div>
    <div class="container">
        <div class="text">
            Bienvenue Coach 
         </div>
    </div class="container">  
    <div class="container"> 
        <div class="text">
           Ajouter un joueur
        </div>
        <form name='player_registration' action="{{ url_for('register_player') }}" method="post"> 
            <div class="form-row">
                <div class="input-data">
                   <input type="text" name="username" required>
                   <div class="underline"></div>
                   <label for="">Pseudonyme</label>
                </div>
                <div class="input-data">
                    <input type="text" name="game" required>
                    <div class="underline"></div>
                    <label for="">Jeu</label>
                </div>
            </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Ajouter">
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="text"></div>
        <div class="text">
           Liste de joueur
        </div>
        <div id="player_list">
            <p>Id</p><p>Pseudo</p><p>Jeu</p><p>Graphique</p>
            {% for player in players %}
            <p>{{player.id}}</p><p>{{player.username}}</p><p>{{player.game}}</p><a href="{{ url_for('create_charts', username=player.username) }}">Graphiqe d'entrainement</a>
            {% endfor %}
        </div>
    </div>
    <a href="{{ url_for('logout') }}"> Logout </a>

         
 